    <% include ./navbar %>

    <div class="title-bar">
      <div class="container">
        <h1>Biển, Đảo Việt Nam</h1>
      </div>
    </div>

  <div class="main">
    <div class="container">
      <div class="row">
        <div class="biendao">
          <iframe width="854" height="480" src="https://www.youtube.com/embed/m-nz3bh2S3c?list=PLLsBxGJhjWcZvdtZQTtLWeGmU8KzyW8YQ" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>

  <% include ./footer %>
