    <% include ./navbar %>

    <div class="title-bar">
      <div class="container">
        <h1>Tin tức - Sự kiện</h1>
      </div>
    </div>

  <div class="main">
    <div class="container">

  		<div class="row">
    			<div class="col-md-8">
    				<div class="VivaTimeline">
    					<dl>
                  <dt>12/2016</dt>
                  <dt>11/2016</dt>
                  <dt>10/2016</dt>
                  <dt>9/2016</dt>

                    <dd class="pos-left clearfix">
                        <div class="circ"></div>
                        <div class="time">30/8</div>
                        <div class="events">
                            <div class="events-header">
                              Tổ chức thành công Giải bóng đá ngành TT&TT mở rộng
                            </div>
                            <div class="events-body">
                                <div class="row">
                                	<div class="col-md-6 pull-left">
                                        <img class="events-object img-responsive img-rounded" src="http://ict.hatinh.gov.vn/ict/static/uploads/images/images.thumb.9ff55181-7178-4003-853f-82526adf43c7.jpeg" />
                                    </div>
                                    <div class="events-desc">
                                    	Sau 2 ngày thi đấu, sáng 28/8, Giải bóng đá nam ngành Thông tin và truyền thông mở rộng chào mừng kỷ niệm ngày truyền thống đã diễn ra thành công tốt đẹp.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </dd>
                    <dd class="pos-right clearfix">
                      <div class="circ"></div>
                      <div class="time">26/8</div>
                      <div class="events">
                          <div class="events-header">
                            Tọa đàm kỷ niệm ngày truyền thống ngành Thông tin và Truyền thông
                          </div>
                          <div class="events-body">
                              <div class="row">
                              	<div class="col-md-6 pull-left">
                                      <img class="events-object img-responsive img-rounded" src="http://i.baohatinh.vn/news/1634/105d5092122t551l4.jpg" />
                                  </div>
                                  <div class="events-desc">
                                  	Chiều 25/8, Sở Thông tin và Truyền thông (TT&TT) tổ chức tọa đàm kỷ niệm ngày truyền thống ngành TT&TT (28/8/1945-28/8/2016). Ủy viên BTV Tỉnh ủy, Phó Chủ tịch UBND tỉnh Đặng Quốc Vinh và Phó Chủ tịch HĐND tỉnh Võ Hồng Hải cùng dự.
                                  </div>
                              </div>
                          </div>
                      </div>
                    </dd>
                  <dt>8/2016</dt>
                  <dt>7/2016</dt>
                    <dd class="pos-left clearfix">
                        <div class="circ"></div>
                        <div class="time">10/6</div>
                        <div class="events">
                            <div class="events-header">
                              Trang bị kiến thức pháp luật cho đại lý Internet, điểm cung cấp trò chơi điện tử
                            </div>
                            <div class="events-body">
                                <div class="row">
                                  <div class="col-md-6 pull-left">
                                        <img class="events-object img-responsive img-rounded" src="http://i.baohatinh.vn/news/1623/105d4121320t7732l8.jpg" />
                                    </div>
                                    <div class="events-desc">
                                      Sáng 9/6, Sở Thông tin và Truyền thông Hà Tĩnh phối hợp với Công ty Cổ phần VNG tổ chức hội nghị tập huấn các quy định của pháp luật về Internet cho các đại lý Internet, điểm cung cấp dịch vụ trò chơi điện tử công cộng trên địa bàn tỉnh
                                    </div>
                                </div>
                            </div>
                        </div>
                    </dd>
                  <dt>6/2016</dt>
              </dl>
    				</div>
    			</div>

          <div class="col-md-4">
            <% include ./sidebar %>
          </div>
    	</div>
    </div>
  </div>



  <% include ./footer %>
